.abt-container{
    width:100%;
    margin:0px;
    display: flex;
    background-color:snow;
}

.abt-content {
    width:40%;     
    height:auto;        
}

.abt-content h2, p{
    position: relative;
    top: 30%;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size:18pt;  
    padding: 5px;  
}

.abt-skills{    
    width:55%;   
    padding:5px;
}

.skills-block-techstack h2 {
    padding: 20px;
    font-weight: lighter;
    font-size: x-large;
}

.skills-block-techstack img {
    width:90px;
    height:90px;
}

@media all and (max-width:700px){
    .abt-container {
        width:100%;
        height:320px;
        position:relative;
        /* margin-top:90px; */
        border-bottom-left-radius: 0%;  
        border-bottom-right-radius: 0%;               
        flex-direction: column;
        align-items: center;
    }

    .abt-content{
        width: 100%;
        height:150px;
        /* border:1px solid red; */
        margin-left: 0;                                
        margin-top: 0px;        
    }

    .abt-skills {
        width:100%;
        padding-top: 10px;
        margin-top: 50px;        
    }

    .skills-block-techstack img {
        width:70px;
        height:70px;
    }
    
}