.abt-container{
    width:100%;
    margin:0px;
    display: flex;
    background-color:snow;
}

.abt-content {
    width:40%;     
    height:auto;        
}

.abt-content h2, p{
    position: relative;
    top: 30%;
    font-family: monospace;
    font-style: italic;
    font-size:18pt;  
    padding: 5px;  
}

.abt-skills{    
    width:55%;   
    padding:5px;
}

.skills-block-techstack h2 {
    padding: 20px;
    font-weight: lighter;
    font-size: x-large;
}

.skills-block-techstack img {
    width:90px;
    height:90px;
}
