.main{    
    background:linear-gradient(to right, #a73ba8, #00d9f8);        
    display: flex;    
}
.pic{
    width:450px;
    height:430px;    
    margin-left: 90px;
    display: flex;
}
.pic img{        
    border-radius: 50%;        
}
.rightMain { 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;     
    color: bisque;
    width:1000px;        
    height:100px;
    margin-top: 150px;
    padding-top:35px;
}
