.main{    
    background:linear-gradient(to right, #a73ba8, #00d9f8);  
    width:100%; 
    height:450px;
    border-end-end-radius: 30%;     
    display: flex;    
}
.pic{
    width:450px;
    height:430px;    
    margin-left: 90px;
    display: flex;
}
.pic img{        
    border-radius: 50%;        
}
.rightMain { 
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Permanent Marker', cursive;
    font-size: larger;
    color: bisque;
    width:1000px;        
    height:100px;
    margin-top: 150px;
    padding-top:35px;
}

@media all and (max-width:700px){
    .main {
        width:100%;
        height:320px;
        position:relative;
        margin-top:0px;
        border-bottom-left-radius: 0%;  
        border-bottom-right-radius: 0%;               
        flex-direction: column;
        align-items: center;
    }

    .pic{
        
        height:150px;
        border:1px solid red;
        margin-right: 140px;
        margin-top: 40px;
    }

    .pic img{
        position:relative;
        left:180px;
    }
    
    .rightMain {
        width:100%;
        /* border: 1px solid yellow; */
        padding-top: 10px;
        margin-top: 10px;        
        font-size:small;
    }
    
}
