.footerMain{           
    color:black;       
    height: 80px;        
}

.footerMain p {
    font-family:'Courier New', Courier, monospace;
    font-style: normal;
    font-size: large ;
}

.social-container {
    background: #eee;
    padding: 40px 50px;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-2px);
}

a.youtube {
    color: #eb3223;
}
  
a.facebook {
    color: #4968ad;
}
  
a.twitter {
    color: #49a1eb;
}
  
a.github {
    color: black;
}

a.linkedin {
    color:#0a66c2;
}

@media all and (max-width: 700px){
    .footerMain{
        width:100%;
    }
}