.projectContainer{
    background:linear-gradient(to right, #00d9f8, #a73ba8);  
    border-start-start-radius: 30%;  
    margin-top: 20px;
    padding:50px;
    width:100%;
    display:flex;
    justify-content: space-around;
}

.card{
    width:250px;
    border-radius:1px solid yellow;
    background-color: #00d9f8;
    display: inline-block;
    padding: 30px;
    margin:20px;
}

.card-img img{
    width: 200px;   
}

.card-title{
    width:250px;
    align-items: center;        
}

.card-title a {
    color:#4f5565;
    text-decoration: none;
}