body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-link {
  font-family: 'Cedarville Cursive', cursive;
  font-family: 'Permanent Marker', cursive;
}

html {
  /* Smooth scroll always for html tag */
  scroll-behavior: smooth;
  /* scroll-snap-type: y; <-- snap in y axis */
}

/* mobile  */
@media (max-width: 800px) {
  html {
  overflow-x: hidden;  
  }
}


